<html>
<head>
  <title>Anki Deck Builder</title>
  <script src="bower_components/tinymce/tinymce.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <script src="bower_components/mgo-mousetrap/mousetrap.js"></script>
  <script src="bower_components/mgo-mousetrap/wMousetrap.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/Blob.js/Blob.js"></script>
  <script src="bower_components/FileSaver.js/FileSaver.min.js"></script>
  <script>
    angular.module('ankiDeckBuilder', ['ui.tinymce', 'mgo-mousetrap', 'angularFileUpload'])
	  .config(['$compileProvider',
	  function($compileProvider) {
		$compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/)
	  }]);
  </script>
  <script>
    angular.module('ankiDeckBuilder').controller('deckBuilder',
      ['$scope', '$timeout',
      function ($scope, $timeout) {
        var deck = [{
          question: "This is a question",
          answer: "This is an answer"
        }];
        $scope.add = addCard;
        $scope.delete = deleteCard;
		$scope.downloadCSVBlob = downloadCSVBlob;
        $scope.deck = deck
		var addFromEditor = {
			setup: setupToAddFromEditor
		}
		$scope.addFromEditor = addFromEditor;
		$scope.focusOnInit = angular.extend({
			init_instance_callback: focusOnInit
		}, addFromEditor);
        $scope.onFileSelect = onFileSelect;
		
		
		function onFileSelect(files) {
			var reader = new FileReader();
			reader.onload = function(readEvent) {
				$timeout(
					function() {
						var lines = readEvent.currentTarget.result.trim().split("\n");
						$scope.deck = deck = _.map(lines,
							function(line) {
								var questionAndAnswer = line.split("\t");
								return {
									question: questionAndAnswer[0],
									answer: questionAndAnswer[1]
								};
							})
					}
				);
			}
			
			reader.readAsText(files[0]);
		}
        function addCard() {
          deck.push({});
        }
		
		function setupToAddFromEditor(editor) {
			editor.on('keyup', function(e) {
				if(e.altKey && e.keyCode == 34) {
					addCard();
					$scope.$apply();
				}
			});
		}

        function deleteCard(index) {
          var cardToDelete = deck[index];
          if(confirm("Are you sure you want to delete the card '" + cardToDelete.question +"'?"))
            deck.splice(index, 1)
        }
		
		function downloadCSVBlob() {
		  var lineFeedEncoding = encoding('\n', '');
		  var carriageReturnEncoding = encoding('\r', '');
		  var commaEncoding = encoding(',', '%2C');
		  
		  var cards = _.map(deck, function (card) { return encode(card.question) + "," + encode(card.answer) })
          var csv = _.reduce(cards, function (cards, card) { return cards + "\r\n" + card; })
		  var blob = new Blob([csv], {type: 'text/csv'});
		  saveAs(blob, "deck.csv");
		  
		  
		  function encoding(toEncode, toEncodeAs) {
			return function (value) {
				return value.replace(new RegExp(toEncode, "g"), toEncodeAs);
			}
		  };
		  function encode(value) {
			var encoded = lineFeedEncoding(carriageReturnEncoding(commaEncoding(value)));
			return encoded
		  };
		}
		
		function focusOnInit(tinyMceInstance) {
			tinyMceInstance.focus();
		}
      }]);
  </script>
  
</head>
<body ng-app="ankiDeckBuilder" ng-controller="deckBuilder" w-mousetrap="{'alt+pagedown': add}">
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in deck">
        <td><textarea class="mousetrap" ui-tinymce="focusOnInit" ng-model="card.question"></textarea></td>
        <td><textarea class="mousetrap" ui-tinymce="addFromEditor" ng-model="card.answer"></textarea></td>
        <td><button ng-click="delete($index)">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><button ng-click="add()">Add</button></td>
      </tr>
    </tfoot>
  </table>
  <hr />
  <button ng-click="downloadCSVBlob()">Download deck</button>
  <div>
	<label for="fileUpload">Load deck:</label>
	<input type="file" id="fileUpload" ng-file-select="onFileSelect($files)" />
  </div>
</body>
</html>